extends moneytransfer
block moneytransfer_styles
  style.
    input#exampleInputAmount.form-control{
      z-index:0;
    }
    .footer-container{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
block step_content
  form.form-inline(action = '/moneytransfer/inputamount',method='post',enctype='application/x-www-form-urlencoded')
    h1.text-center.
      Enter the amount to send
    .form-group.col-sm-6.col-sm-offset-3
      label.sr-only(for='exampleInputAmount') Amount (in dollars)
      .input-group
        .input-group-addon $
        |  
        input#exampleInputAmount.form-control(name = 'trans_amount',type='number', placeholder='Amount',max-length="6")
    h1.clearfix 
    h3.
      To continue with this trasaction today,you can use a Create or Debit Card
    h1
    .form-group.col-sm-12.text-center
      button.btn.btn-primary(type='submit') CONTINUE WITH CREADIT/DEVIT CARD
    |
block moneytransfer_scripts
  script(type='text/javascript').
      var errors = '!{errors}';
      if (errors){
        errors = JSON.parse(errors);
        for (var i=0;i<errors.length;i++){
          toastr.warning(errors[i].msg);
        }
      }
