extends ../layout
block styles
  //link(href="/stylesheets/moneytransfer/gsdk-base_custom.css" rel="stylesheet")
  link(rel='styleSheet' href='/stylesheets/moneytransfer/index.css')
  link(href='/bower_components/toastr/toastr.css', rel='stylesheet', type='text/css', media='all')
  block moneytransfer_styles
block scripts
  //script(src="/x-bootstrap-wizard-v1.1/assets/js/jquery.bootstrap.wizard.js")
  script(src="/x-bootstrap-wizard-v1.1/assets/js/jquery.validate.min.js")
  //script(src="/x-bootstrap-wizard-v1.1/assets/js/wizard.js")
  script(src='/bower_components/toastr/toastr.js')
  block moneytransfer_scripts
block content
  .step_content.col-sm-6.col-sm-offset-3
    block step_content
  .clearfix
