extends moneytransfer
block moneytransfer_styles
  style.
    input#exampleInputAmount.form-control{
      z-index:0;
    }
    .footer-container{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
block step_content
  .text-center.text-success(style='font-size: 11em;')
    i.glyphicon.glyphicon-ok-circle
  .text-center.text-success(style='font-size: 2em;') Transfer successfully completed!
  .text-center(style='margin-top: 1.5em;')
    a.btn.btn-primary.btn-filled(href='/') Return to home
