extends moneytransfer
block moneytransfer_styles
  style.
    .step_content {
      min-height: 600px;
      padding-bottom: 50px;
    }
block step_content
  h1.text-center.
    Let's continue with your order
  #widget
  script(src='https://api.sandbox.hyperwallet.com/rest/widgets/transfer-methods/'+hyperusertoken+'/en.min.js')
  script(type='text/javascript').
    var hyperun = '#{hyperun}';
    var hyperpw = '#{hyperpw}';
    var hyperusertoken = '#{hyperusertoken}';
    var widget = HWWidgets.transferMethods.configure({
      "template": "bootstrap3",
      "el": document.getElementById("widget"),
      "skipProfileFields": true,
        "transferMethodConfiguration": {
           "profileType": "INDIVIDUAL"
        },
      "onComplete": function (transfer_token) {
        var moneytransfer_method = this.getData();
        $.ajax({
          type: "POST",
          url: 'https://api.sandbox.hyperwallet.com/rest/v3/users/'+hyperusertoken+'/transfer-methods',

          contentType:'application/json',
          beforeSend: function (xhr) {
              xhr.setRequestHeader ("Authorization", "Basic " + btoa(hyperun + ":" + hyperpw));
              xhr.setRequestHeader ("Json-Cache-Token", transfer_token.token);
              xhr.setRequestHeader ("Content-Type", "application/json");
              xhr.setRequestHeader ("Accept", "application/json");
          },
          processData: false,
          data: '{"foo":"bar"}',
          dataType:'json',
          success: function(json){
            console.log(json);
            $.post("/moneytransfer/transfermethod", {
              moneytransfer_method: moneytransfer_method,
              moneytransfer_token: json
              }, function(json) {
              // Set up the Twilio Client Device with the token
              location.href = "/moneytransfer/submit_offer";
            });
          },
          error:function(error){
            console.log(error);
            var msgs = JSON.parse(error.responseText).errors;
            for (var i =0;i<msgs.length;i++)
            toastr.error(msgs[i].message);
          }
        });
      },
      "onError": function (errors, state) {
        /*step_widzard.bootstrapWizard('next');*/
        toastr.error('Insert correct infomation! please try again.');
      }
    });
    widget.create(); //display widget*/
